@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 3.1em;
	color: #4A4A4A;
	font-family: 'Playfair Display', serif;
}

h6{
	font-size: 2em;
	text-align: right;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

nav, #nav-menu, .column-menu{
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-align: center;
	color: #4A4A4A;
}

a{
	background-color: 
	text-align: right;
	color:#4A4A4A;
	text-decoration: none;
	width: 20%;
	padding: 10px;
	font-size: 1.9em;
}

a:hover {
  opacity: 0.7;
}

.introduction{
	text-align: right;
	/*color:white;*/
	font-size: 2em;
	background-image: url(../images/cactus.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	height: 700px;
	padding: 20px;
}

hr{
	width: 90%;
}
.col-3{
    width: 30%;
    float: left;
}
.column-three {
    margin: auto;
    /*width: 90%;*/
    text-align: center;
}
.column-three .col-3 img {
    width: 100%; 
    height: 400px;
}
.column-three .col-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33%;
}
.couch{
	margin:auto;
	padding-top: 50px;
	width: 50%;
	text-align: center;

}

.sale{
	
    background-image: url(../images/book.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	height: 450px;
	padding: 20px;
	color:#C2154C;
	font-size: 10em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;

}


/*.col-2{
    width: 32%;
    float: left;
}
.two-columns {
    margin: auto;
    width: 90%;
    text-align: center;
}
.two-columns .col-2 {
    width: 50%; 
    height: 600px;
}
.col-2 img{
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}*/

h2{
	font-size: 1.8em;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #4A4A4A;
}

h3{
	font-size: 1.3em;
	font-family:'Playfair Display', serif;
	color: #4A4A4A;
}

#header{
    padding: 20px;
}

#nav{
    padding: 20px;
    color: #4A4A4A;
}

#section{
    padding: 20px;
}

#three{
    padding: 20px;
    height: 570px;
}

#four{
    padding: 20px;
}

#two_column {
    padding: 20px;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
    background-image: url(../images/lighting.jpg);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin:1%;
    float: left;
    width: 48%;
    height: 550px;
    color: white;
	font-size: 4em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
}

#right {
    background-image: url(../images/WhiteCeramic.jpg);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin:1%;
    float: right;   
    width: 48%;
    height: 550px;
    color: white;
	font-size: 4em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
}


.foot, h3{
	background-color: #C2A59B,
	background-size:80%;
	padding-top: 20px;
    width: 100%;
    /*height: 480px;*/
    text-align: center;
	color: #4A4A4A;
}

h5{
	font-size: 1.8em;
	font-family: 'Playfair Display', serif;
	color: #4A4A4A;
}


#footer-left{
	padding: 20px;
	width: 20%;
	float:left;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#4A4A4A;
	/*line-height: 0.6;*/
	text-align: left;
}

#footer-middle{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	/*line-height: 0.6;*/
	text-align: left;
}

#footer-right{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	/*line-height: 0.6;*/
	text-align: left;
}

#social-media{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 1.3em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	text-align: left;
}

/* Style all font awesome icons */
.fa {
  padding: 15px;
  font-size: 1.3em;
  width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Pinterest */
.fa-pinterest {
  background: #cb2027;
  color: white;
  }

@media only screen and (max-width: 1024px){ /*iPad Pro*/
	nav{
		float: none;
	}
	nav a {
		margin: 0 1.6em .75em 0;
	}
	img{
		width:320px;
	}
	h6, a{
		font-size: 1.4em;
		line-height: 1.8em;
	}
}

@media only screen and (max-width: 375px){ /*iPhone X and Galaxy S5*/
	h1{
		display: block;
		text-align: left;
		float: left;
		font-size: 2.1em;
		padding: 10px;
	}
	#nav-menu{
		display: block;
		text-align: left;
		float: left;
		font-size: 0.3em;
		padding: 10px;
	}
/*	a{
		display: block;
		float: left;
		font-size: 0.7em;
	}*/
	a{
		font-size: 0.5em;
	}

	h6{
		display: block;
		text-align: right;
		float: none;
		font-size: 0.6em;
	}
	h2{
		font-size: 1em;
		display: inline;
	}
	p{
		margin: 1.8em .6em 0;
	}
	/*nav a {
		margin: 0 1em 1em;
	}*/
	img{
		width: 230px;
	}
	section, div{
		width: 100%;
		padding: .6em;
	}

#section{
    padding: 20px;
    /* height: 50px;*/
}

.introduction{
	text-align: right;
	/*color:white;*/
	font-size: 2em;
	background-image: url(../images/cactus.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	height: 250px;
	padding: 20px;
}

#three{
    padding: 20px;
    height: 50px;
}
	.col-3{
    width: 30%;
    float: left;
}
.column-three {
    margin: auto;
    width: 90%;
    text-align: center;
}
.column-three .col-3 img {
    width: 100%; 
    height: 95px;
}
.column-three .col-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
}
h3{
		font-size: 0.5em;
		display: inline;
}

#four{
    padding: 20px;

}
.sale{
	
    background-image: url(../images/book.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	height: 170px;
	padding: 20px;
	color:#C2154C;
	font-size: 4em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: right;
	float: left;

}

#two_column {
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin: 1.8em .6em 0;

}
#left {
    background-image: url(../images/lighting.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    float: left;
    width: 80%;
    height: 240px;
    color: white;
	font-size: 1.4em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	margin: 1.8em .6em 0;
}

#right {
    background-image: url(../images/WhiteCeramic.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    float: left;   
    width: 80%;
    height: 240px;
    color: white;
	font-size: 1.4em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	margin: 1.8em .6em 0;

}

	#footer{
		float:none;
		font-size: 0.5em;
	}

.foot, h3{
	background-color: #C2A59B,
	background-size:80%;
	padding-top: 20px;
    width: 100%;
    text-align: center;
	color: #4A4A4A;
}

h5{
	font-size: 1em;
	font-family: 'Playfair Display', serif;
	color: #4A4A4A;
}


#footer-left{
	padding: 20px;
	width: 20%;
	float:left;
	font-size: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#4A4A4A;
	line-height: 0.6;
	text-align: left;
}

#footer-middle{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	line-height: 0.6;
	text-align: left;
}

#footer-right{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	line-height: 0.6;
	text-align: left;
}

#social-media{
	padding: 20px;
	width: 20%;
	float: left;
	font-size: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4A4A4A;
	text-align: left;
}
.fa {
  padding: 10px;
  font-size: 5em;
  width: 1.5%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

}