body{
	text-align: center;
	font-size: 50px;
	color: #4A4A4A;
	/*background-image: url(../images/dining.jpg);
	background-repeat: no-repeat;*/
}
h1{
	text-align: center;
	font-size: 50px;
	color: #4A4A4A;
}
#slogan{
	font-size: 30px;
	text-align: center;
	font-style: italic;
}
#mission{
	text-align: center;
	font-size: 25px;
}
#list{
	text-align: left;
	font-size: 25px;
}
#contact{
	text-align: left;
	font-size: 25px;
	text-align: center;
}
img{
	border-radius: 4px;
 	padding: 5px;
 	width: 1600px;
}
hr{
	width: 500px;
}
.col-3 {
    width: 32%;
    float: left;
}
.feature-content {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 50px;
}
.feature-content .col-3 img {
    width: 100%; 
    height: 500px;
}
.feature-content .col-3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 31%;
}
h3{
	font-size: 25px;
}